<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BooksMapper">
    
    <resultMap type="Books" id="BooksResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="pnum"    column="pnum"    />
        <result property="category"    column="category"    />
    </resultMap>

    <sql id="selectBooksVo">
        select id, name, price, pnum, category from books
    </sql>

    <select id="selectBooksList" parameterType="Books" resultMap="BooksResult">
        <include refid="selectBooksVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="pnum != null "> and pnum = #{pnum}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
        </where>
    </select>
    
    <select id="selectBooksById" parameterType="String" resultMap="BooksResult">
        <include refid="selectBooksVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBooks" parameterType="Books">
        insert into books
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="price != null ">price,</if>
            <if test="pnum != null ">pnum,</if>
            <if test="category != null  and category != ''">category,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="price != null ">#{price},</if>
            <if test="pnum != null ">#{pnum},</if>
            <if test="category != null  and category != ''">#{category},</if>
         </trim>
    </insert>

    <update id="updateBooks" parameterType="Books">
        update books
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="pnum != null ">pnum = #{pnum},</if>
            <if test="category != null  and category != ''">category = #{category},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBooksById" parameterType="String">
        delete from books where id = #{id}
    </delete>

    <delete id="deleteBooksByIds" parameterType="String">
        delete from books where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>